<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(
          to right,
          #fff6a1,
          #ffe680,
          #ffda63,
          #ffcc00
        );
      }
      .registration-form {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
      }
      .registration-form h2 {
        margin-bottom: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="registration-form">
        <h2 class="text-center">Register</h2>
        <form method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRtvx14L8/3GAoQBw5p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBkJBo+OrlLYzWg+1iZlG37EAPhp3Itk3sQ0f43J3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+rCjDRt6ZR2F0rG6a8cbt6cM0B3VYb4R6jizo3gYRCpD8C04K"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
